[[source]]

verify_ssl = true
url = "https://pypi.python.org/simple"
name = "pypi"


[packages]

selenium = "*"


[dev-packages]

pudb = "*"
bumpversion = "*"
watchdog = "*"
"flake8" = "*"
tox = "*"
coverage = "*"
sphinx = "*"
pyyaml = "*"
pytest = "*"
pytest-runner = "*"
